{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Welcome to Alfalah Islamic School</h1>
                <p class="lead">Hello, {{ name }}! We're glad to have you here.</p>
        </div>
        <div class="mt-4">
            <h2> {{ name }}  </h2>
            <p>
                Nestled in the heart of Dire Dawa, Alfalah Islamic School stands as a beacon of excellence and compassion.
                For over 75 years, it has proudly upheld its reputation as the most prestigious school in the city,
                delivering national-class education to generations of students.
            </p>
            <p>
                At Alfalah, we believe in education as a transformative force. Beyond academic excellence, our mission
                extends to making education accessible to those in need. Through our unwavering commitment to supporting
                orphans, we provide free education to children who might otherwise be deprived of this essential opportunity.
            </p>
            <p>
                Thanks to Alfalah Islamic School, countless lives have been uplifted, and a brighter future has been made possible for many.
                We thank our community, staff, and supporters for being a part of this incredible journey.
            </p>
            <p>
                Welcome to a place where excellence meets compassion—a place where every child is given the chance to shine.
            </p>
        </div>
    </div>
</body>
{% endblock %}
